supplemental_files/unprocessed_datasets/ADNI
supplemental_files/unprocessed_datasets/kaggle
supplemental_files/unprocessed_datasets/ADNI1_Screening_1.5T.zip
supplemental_files/unprocessed_datasets/ADNI1_Screening_1.5T_2_24_2023.csv

out/preprocessed_datasets/*
out/trained_models/*

src/preprocessing/__pycache__
src/classes/__pycache__
src/training/__pycache__
src/__pycache__

