supplemental_files/unprocessed_datasets/ADNI
supplemental_files/unprocessed_datasets/OASIS
supplemental_files/unprocessed_datasets/oasis_nifti
supplemental_files/unprocessed_datasets/ADNI_main
supplemental_files/unprocessed_datasets/ADNI1_Screening_1.5T.zip
supplemental_files/unprocessed_datasets/ADNI1_Screening_1.5T_2_24_2023.csv

out/preprocessed_datasets/*
out/trained_models/*
out/evals/*
out/*

admire/preprocessing/__pycache__
admire/training/__pycache__
admire/evaluating/__pycache__
admire/__pycache__

